
    <div id="wrapper" class="inactive">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-indent-left"></span></a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li><a href="sales-leads.html">Home<span class="sub_icon glyphicon glyphicon-tag"></span></a></li>
                <li><a href="create-new.html">Create Lead<span class="sub_icon glyphicon glyphicon-user"></span> </a> </li>
                <li><a href="#" data-toggle="modal" data-target="#contactUsModal">Contact Us<span class="sub_icon glyphicon glyphicon-earphone"></span> </a> </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
            </div>
        </div>

    </div>

    <!--Modal Code-->
    <div id="contactUsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Contact Us</h4>
                </div>
                <div class="modal-body">
                    <p>Clearent LLC</p>
                    <p>www.clearent.com</p>
                    <p>866.205.4721</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-color" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
