<div class="container high" [ngStyle]="{'background-image': 'url(../assets/OctocatBackground.png)'}">
  <div class="row text-center">
    <div class="col-md-12" *ngIf="hideSalesLeads">
      <h2>Find developers in your city</h2>
    </div>
    <div class="col-md-12" *ngIf="hideSearchUsers">
      <h2>Here Are Your Sales Leads!</h2>
    </div>
  </div>
  <div *ngIf="hideSalesLeads">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <div class="form-inline">
          <input placeholder="Location Name" class="form-control input-lg input" #place (keyup.enter)="search(place.value, language.value); place.value=''; language.value='';"
          />
          <input placeholder="Language e.g. Java" class="form-control input-lg input" #language (keyup.enter)="search(place.value, language.value); place.value=''; language.value='';"
          />
          <button class="btn btn-primary btn-lg" (click)="search(place.value, language.value); place.value=''; language.value='';">Search</button>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="text-center" style="padding: 1em; color:red;" *ngIf="errorText">{{ errorText }}</p>
      <div [ngClass]="{'col-md-9': selected, 'col-md-12': !selected}">
        <div class="user col-md-2 text-center" *ngFor="let user of results" (click)="getDetails(user.login)">
          <div class="img_container">
            <img src="{{user.avatar_url}}" class="img-circle" width="100" height="100">
          </div>
          <div class="details_container">
            <a href="{{user.html_url}}" target="_blank" class="login_name">{{ user.login }}</a>
          </div>
        </div>
      </div>
      <div *ngIf="results.length && selected" class="col-md-3">

        <div class="box text-center details">
          <img src="{{selectedUser.avatar_url}}" class="img-responsive img-circle">
          <div class="details">
            <div *ngIf="selectedUser.name">
              <a href="{{ selectedUser.html_url }}" target="_blank">
                <h3>{{ selectedUser.name }} </h3>
              </a>
            </div>
            <hr>
            <div *ngIf="selectedUser.email">Email: {{ selectedUser.email }}</div>
            <hr>
            <div *ngIf="selectedUser.location">Location: {{ selectedUser.location }}</div>
            <hr>
            <div *ngIf="selectedUser.bio">Bio: {{ selectedUser.bio }}</div>
            <hr>
            <div *ngIf="selectedUser.updated_at">Last Seen: {{ selectedUser.updated_at | date }}</div>
            <hr>
            <div *ngIf="selectedUser.public_repos">Repos: {{ selectedUser.public_repos }}</div>
            <hr>
            <div *ngIf="selectedUser.public_gists">Gists: {{ selectedUser.public_gists }}</div>
            <hr>
            <div *ngIf="selectedUser.followers">Followers: {{ selectedUser.followers }}</div>
            <hr>
            <div *ngIf="selectedUser.created_at">Joined github: {{ selectedUser.created_at | date }}</div>
            <hr>
            <button class="btn btn-sm btn-warning" (click)="selected = !selected">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="hideSearchUsers">
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="panel panel-default panel-custom" style="border: 2px solid #1999d6">
          <table class="table table-striped">
            <div *ngFor="let merchant of results; let even = even; let odd = odd; let RowIndex = index;" [ngClass]="{ odd: odd, even: even }">
            <thead>
              <tr>
                <th style="width: 1%">&nbsp;</th>
                <th>Merchant</th>
              </tr>
            </thead>
            <tbody>

              <tr data-toggle="collapse" [attr.data-target]="'#first-child-row-' + RowIndex" (click)="expandRow(RowIndex)" style="cursor: pointer;">
                <td><span class="accordion-toggle chevron_toggleable glyphicon glyphicon-chevron-right" style="cursor: pointer;"></span></td>
                <td>{{merchant.name}}</td>
              </tr>

              <tr>
                <td colspan="12" class="hiddenRow">
                  <div id="'#first-child-row-' + RowIndex" *ngIf="RowIndex === expandedIndex">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>&nbsp;</th>
                          <th>DBA</th>
                          <th>MCC</th>
                          <th>Average Ticket</th>
                          <th>Annual Volume</th>
                          <td>&nbsp;</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                          <td>{{merchant.dba}}</td>
                          <td>{{merchant.mcc}}</td>
                          <td>{{merchant.averageTicket}}</td>
                          <td>{{merchant.annualVolume}}</td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th>&nbsp;</th>
                          <th>Street1</th>
                          <th>Street2</th>
                          <th>City</th>
                          <th>State</th>
                          <th>Zip</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                          <td>{{merchant.address.street1}}</td>
                          <td>{{merchant.address.street2}}</td>
                          <td>{{merchant.address.city}}</td>
                          <td>{{merchant.address.state}}</td>
                          <td>{{merchant.address.zip}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
            </div>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
