.input {
  border-radius: 5px;
  outline: none;
}
.input:hover {
  border: 3px solid #61f95c;
}
.btn {
  border: none;
  border-radius: 5px;
  background-color: #4286f4;
}
.btn:hover {
  background-color: #61f95c;
}

.user {
  border: 3px solid #4286f4;
  border-radius: 5px;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  background:rgba(255,255,255,0.5);
}

.user:hover {
  box-shadow: 1px 2px 3px #ccc;
  background-color: lightgray;
}

.box {
  border: 3px solid #4286f4;
  padding: 2em;
}

.box > .details {
  margin-top: 1em;
  font-family: monospace;
}

.high {
    height: 1200px;
    background-image: "../assets/OctocatBackground.png";
}

.details {
    border-radius: 10px;
    background-color: lightgray;
}